.nombre-atributo{
    margin-right: 10px;
    color: #b30000
};

.player-card{
    width: 80%;
}

.selected-player-card{
    border: solid;
    border-width: thick;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}
.wrapper-available-players {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}
.wrapper-skills-differences{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}
.average-skill{
    font-weight: bold;
    font-size: xx-large;
}

.card-header{
    text-align: center;
}
.skills-header{
    background-color: #68696b;
    color: white;
    font-size: medium;
}
.player-name-card{
    font-weight: bold;
    font-size: 30px;
}
.nav-pills .nav-link.active{
    background-color: #28a745 !important;
}

.add-new-player{
    text-align: center;
}
.button-add-new-player{
    font-weight: bold;
}
.players-data-input{
    width: 100%;
}

.ui-slider .ui-slider-handle {
    color: #28a745;
    font-size: larger;
    padding: 0;
    text-align: center;
    text-decoration:none;
}

.selected-player{
    border-width: thick;;
}

.player-for-match{
    background-color: #28a745;
    font-weight: bold;
}

.configure-match-header{
    background-color: #424344;
    color: white;
    font-size: medium;
}

.configure-match-card{
    border-width: thick;
    border-block-color: gray;
}

.row{
    margin-bottom: 10px;
}

.button-edit-player{
    width: 100%;
}