.nombre-atributo{
    margin-right: 10px;
    color: #b30000
};

.player-card{
    width: 80%;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.average-skill{
    font-weight: bold;
    font-size: xx-large;
}

.card-header{
    text-align: center;
}
.player-name-card{
    font-weight: bold;
    font-size: 30px;
}
.nav-pills .nav-link.active{
    background-color: #28a745 !important;
}

.add-new-player{
    text-align: center;
}
.button-add-new-player{
    font-weight: bold;
}
.players-data-input{
    width: 100%;
}

.ui-slider .ui-slider-handle {
    color: #28a745;
    font-size: larger;
    padding: 0;
    text-align: center;
    text-decoration:none;
} 

