<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
        <link href="../static/stylo.css" rel="stylesheet" type"text/css">
        <script src="/static/scriptshomepage.js"></script>
    </head>
    <body>
        <h1>BIENVENIDOS!</h1>
        <h2>CREADOR DE EQUIPOS</h2>
            <div class="card">
                <div class="card-body">
                    <h3>Ingrese Usuario</h3>
                </div> 
                        <div>
                            <input id="Usuario" type="text">
                        </div>
                </div>
            <div class="card">
                <div class="card-body">
                    <h4>Contraseña</h4>
                </div>
                        <div>
                            <input id="Contraseña" type="password">
                        </div>
                <div>
                    <button onclick= "ingresar()">Login</button>
                </div>
        <button><a href= "http://localhost:5000/registro-de-jugadores">Registrarse</a></button>
            </div>
    </body>
</html>