<html>
    <head>
        <script src="/static/scriptsnewfulluser.js"></script>
    </head>
    <body>
        <h1>REGISTRO DE USUARIOS</h1>
        <div>
            <h2>Nuevo Usuario</h2>
        </div>
        <div>
        <input name="Nuevo usuario" id="nuevoUsuario" type="text" required>
        </div>
        <div>
            <h3>Contraseña</h3>
        </div>
        <div>
        <input name="Contraseña" id="contraseña" type="password" required>
        </div>
        <div>
            <h4>Correo Electrónico</h4>
        </div>
        <div>
        <input name="Correo Electrónico" id="correo" type="email" required>
        </div>
        <div>
            <button onclick= "validar(); guardarDatos()">Registrarse</button>
        </div>
    </body>
</html>