<html>
    <head>
        <link href="../static/stylonewfulluser.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
        <script src="/static/scriptsnewfulluser.js"></script>
    </head>
    <body>
        <h1>REGISTRO DE USUARIOS</h1>
        <div>
            <h2>Nuevo Usuario</h2>
        </div>
        <div>
        <input name="Nuevo usuario" id="nuevoUsuario" type="text" required>
        </div>
        <div>
            <h2>Contraseña</h2>
        </div>
        <div>
        <input name="Contraseña" id="contraseña" type="password" required>
        </div>
        <div>
            <h2>Correo Electrónico</h2>
        </div>
        <div>
        <input name="Correo Electrónico" id="correo" type="email" required>
        </div>
        <div>
            <button onclick= "registrarJugador()">Registrarse</button>
        </div>
        <img src="/static/imagenes/jugadordefutbol2.png"
            width="400";
            height="350";
            >
    </body>
</html>