<html>
    <header>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
    </header>
    <body>
        <div class="container-fluid">
            <h1>Creador de Equipos</h1>
            <div class="row">
                <div class="col-md-2">
                    <div class="nav flex-column nav-pills players-admin-options" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <button type="button" class="btn btn-secondary btn-lg btn-block button-add-new-player" data-toggle="modal" data-target="#create-player-form">Crear Jugador</button>
                        <a class="text-center nav-link active" id="v-pills-display-players-tab" data-toggle="pill" href="#v-pills-display-players" role="tab" aria-controls="v-pills-display-players" aria-selected="true">Ver jugadores</a>
                    </div>
                </div>
                <div class="col-md-10">                        
                    <div class="tab-content" id="v-pills-tabContent">
                        <!-- Modal formulario "Crear Jugador" -->
                        <div class="modal fade" id="create-player-form" tabindex="-1" role="dialog" aria-labelledby="create-player-form-label" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="create-player-form-label">Crear jugador</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="nombre">Nombre</label>            
                                            <input id="nombre" class="players-data-input" type="text">
                                        </div>
                                        <div class="form-group">
                                            <label for="ataque">Ataque</label>   
                                            <div id="ataque" class="players-data-numeric-input">
                                                <div class="ui-slider-handle custom-handle"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="defensa">Defensa</label>   
                                            <div id="defensa" class="players-data-numeric-input">
                                                <div class="ui-slider-handle custom-handle"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="stamina">Stamina</label>   
                                            <div id="stamina" class="players-data-numeric-input">
                                                <div class="ui-slider-handle custom-handle"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="tecnica">Tecnica</label>   
                                            <div id="tecnica" class="players-data-numeric-input">
                                                <div class="ui-slider-handle custom-handle"></div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-success" id="nuevo-jugador">Crear jugador</button>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show active" id="v-pills-display-players" role="tabpanel" aria-labelledby="v-pills-display-players-tab">
                            <div class="wrapper" id="players-container">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="../static/script.js"></script>
</html>