<html>
    <header>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="stylesheet" href="../static/Soccer-Field-Players-Positions/src/css/soccerfield.css" />
        <link rel="stylesheet" href="../static/Soccer-Field-Players-Positions/src/css/soccerfield.default.css" />
    </header>
    <body>
        <div class="card">
            <div class="card-body">
                <h1>Optimizador de equipos</h1>
            </div>
            <div id="cancha"></div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script src="../static/Soccer-Field-Players-Positions/src/js/jquery.soccerfield.js"></script>
    <script src="../static/cancha.js"></script>
</html>